.navbar-styledLink {
    display: flex;
    font-weight: 700;
    align-items: center;
}

.navbar-nav {
    display: flex;
    flex-grow: 0.1;
    justify-content: space-between;
    font-family: Open Sans,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-weight: 500;
    font-size: 1.1rem;
    align-self: center;
    height: fit-content;
}
.navbar-nav a {
    color: #fff;
    transition: all 0.4s;
}
.navbar-nav a:hover {
    color: #f0f0f0;
}