.post-suggestionBar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100vw;
}
.post-postSuggestion {
  display: flex;
  align-items: center;
  margin: 1rem;
}
.post-postSuggestion a {
  width: 100%;
}
.post-postSuggestion h3 {
  font-size: inherit;
}
h3.prev-post {
  text-align: left;
}
h3.next-post {
  text-align: right;
}
button.next-post,
button.prev-post {
  color: gray;
  background-color: transparent;
  border: none;
}
button.next-post:hover,
button.prev-post:hover {
  color: black;
}
:focus {
  outline: none;
}
