.post-suggestionBar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  background: #f0f0f0;
  box-shadow: 0 -5px 30px rgba(0,0,0,0.2);
}
.post-postSuggestion {
  display: flex;
  align-items: center;
  margin: 1rem;
}
.post-postSuggestion h3 {
    font-size: 16px;
}